<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Package</title>
</head>
<body>
    <header>
        <h1>Are you sure you want to delete this package?</h1>
    </header>

    <form th:action="@{/agency/delete-package/{id}(id=${package.id})}" method="get">
        <button type="submit">Yes, Delete</button>
        <button type="button" onclick="window.location.href='/agency/dashboard'">Cancel</button>
    </form>

    <footer>
        <p>&copy; 2024 Your Travel Agency. All rights reserved.</p>
    </footer>
</body>
</html>
